In [1]:
#input function
l=int(input("Enter the l of rectangle"))
b=int(input("Enter the b of rectangle"))
a=(l*b)
print(a)

Enter the l of rectangle5
Enter the b of rectangle6
30

In [2]:
n1=int(input("Enter n1"))
n2=int(input("Enter n2"))
s=n1+n2
q=n1/n2
p=n1*n2
d=n1-n2
print(s)
print(q)

Enter n14
Enter n26
10
0.6666666666666666

In [3]:
f=float(input("Enter a number"))
c=(f-32)*5/9
print(c)

Enter a number6
-14.444444444444445

In [4]:
c=float(input("Enter the number"))
f=(c*9/5)+32
print(f)

Enter the number4
39.2

In [5]:
num=int(input("Enter a number"))
if num>0:
  print("num is positive")
elif num<0:
  print("num is negative")
else:
  print("invalid")

Enter a number42
num is positive

In [7]:
m=int(input("Enter the year"))
if m%4==0:
  print("it is a leap year")
elif m%4!=0:
  print("it is not a leap year")

Enter the year2009
it is not a leap year

In [8]:
mark=int(input("Enter mark"))
if mark>89:
  print("A")
elif mark>79:
  print("B")
elif mark>69:
  print("C")
elif mark>59:
  print("D")
elif mark<59:
  print("F")
else:
  print("invalid")

Enter mark50
F

In [9]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [10]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
n=int(input("Enter the number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50